
<app-page-header headerText="Dashboard">
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
    </button>
</app-page-header>


<ul class="list-group">
  <li *ngFor="let value of values" class="list-group-item">{{ value }}</li>
  
</ul>
