<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row">
    <app-sidebar></app-sidebar>
  </div>
    <main  class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div role="main" class="row">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
           
        </div>
    </main>
</div>

